.btn {
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 15px;
    padding: 10px 20px;
    margin: 0 auto;
  
  }
  
  .btn span {
    position: relative;
    z-index: 1;
  }
  
  .btn:after {
   color: blue;
  }
  
  .btn:hover:after {
  color: gray;
  }
  