.custom-text-title {
  margin-top: 100px;
}
.shadow-text {
  font-size: 250%;
  color: var(--grey-text-color);
  bottom: 60px;
}
@media screen and (max-width: 770px) {
  .shadow-text {
    font-size: 180%;
    bottom: 40px;
  }
}
