.container-fluid {
  background-color:black ;
}  
.nav-contact:hover, .nav-resume:hover, .nav-portfolio:hover, .nav-about:hover{
  background-color:#03a9f4;
  transition: 0.7s;
  border-radius: 10px;
}
.nav-about, .nav-contact, .nav-portfolio, .nav-resume {
  color: aquamarine !important;
}
  
  