.container-fluid {
  background-color:white ;
}  
.nav-contact:hover, .nav-resume:hover, .nav-portfolio:hover, .nav-aboutme:hover{
  background-color:gray;
  transition: 0.7s;
  border-radius: 10px;
}
.nav-aboutme, .nav-contact, .nav-portfolio, .nav-resume {
  color: aquamarine !important;
}
  
  