:root {
  --bg-color: #0a101e;
  --warning-color: #fec544;
  --white-text-color: #fdfeff;
  --grey-text-color: #979ba6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

u, a {
  text-decoration: initial;
}
@font-face {
  font-family: "blackSignature";
  src: url(./components/fonts/Black\ \ Signature.ttf);
}
@font-face {
  font-family: "doctor";
  src: url(./components/fonts/TheDoctor.ttf);
}
@font-face {
  font-family: "Groningen-Bold";
  src: url(./components/fonts/Groningen-Bold.ttf);
}
@font-face {
  font-family: "Groningen-Regular";
  src: url(./components/fonts/Groningen-Regular.ttf);
}
@font-face {
  font-family: "CassanemoPress";
  src: url(./components/fonts/CassanemoPress.ttf);
}
.water {
  font-family: "CassanemoPress";
}
.doctor {
  font-family: "doctor";
  font-size: 180%;
}

p,
li {
  font-family: "Groningen-Regular";
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: "Groningen-Bold";
}
.bg-dark-blue {
  background-color: var(--bg-color) !important;
}
.nav-link:hover {
  color: var(--warning-color);
}
.white {
  color: var(--white-text-color) !important;
}
.warning {
  color: var(--warning-color) !important;
}
.grey {
  color: var(--grey-text-color) !important;
}
.container-div {
  height: 60px;
}

.movement2 {
  animation: 3s showDiv linear forwards;
}
@keyframes showDiv {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(0.8);
  }
}
