@media screen and (max-width: 540px) {
    .custom-responsive-icons {
      margin: 0px 20px 0px 20px;
    }
  }
  #contact {
    text-align: justify;
    margin-top: 10% !important;
    text-align: center;
  }

  button.btn:hover {
    background-color: #03a9f4;
  }

  button.btn {
    background-color: black;
    display: flex;
    margin: auto;
    color: white !important;
  }
