@media screen and (max-width: 540px) {
    .custom-responsive-icons {
      margin: 0px 20px 0px 20px;
    }
  }
  #contact {
    text-align: justify;
    margin-top: 10%;
    text-align: center;
  }
