.custom-margin-water-container {
 top: 0;
 right: 0;
}
.custom-greetings h1 {
  font-size: 400%;
  color: var(--white-text-color);
}
.custom-greetings span {
  color: var(--warning-color);
}
.custom-container-picture-drops p {
  color: var(--grey-text-color);
}

@media screen and (max-width: 770px) {
  .custom-greetings h1 {
    font-size: 250%;
  }
  .custom-container-picture-drops {
    resolution: 1000;
  }
}
