.container {
  margin-top: 150px;
}
.card {
 width: 20rem;
 height:20rem;
 background-color:white;
}
.cardBtn {
  color: white;
  border-radius: 10px;
  background-color: black;
  text-align: center;
}
img.card-img {
  height: 90%;
}
.cardText {
  text-align: center;
}
.cardBtn:hover {
  background-color:darkgray;
  transition: 0.7s;
}
.card:hover{
  background-color:gray;
  transition: 0.7s;
   
}

