.custom-movement-div{
    margin-bottom: 30px; 
    height: 300px
}
.custom-a{
    width: 100%; height: 100%
}
.custom-portfolio img,
.custom-movement-div {
  border-radius: 20px;
}
.custom-movement-div:hover {
  animation-duration: 0.8s;
  animation-name: movePortfolio;
  border: solid 0.5px #fec544;
  cursor: pointer;
}
.custom-movement-div section {
  animation: coming-soon 2s infinite;
}
.custom-movement-div h3 {
  color: #ff0f0f;
  margin-top: 140px;
  font-family: "Groningen-Bold";
}